<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
   
    <div>
        <div class="container">
            <% songs.forEach(function(s) {%>
            <div>
                <a href="songs/<%=s._id%>"><%=s.title%></a>

            </div>


            </a>
            <td><a href="/songs/<%= s._id %>/edit">Edit</a>
            </td>
            <td><form action='/songs/<%= s._id %>?_method=DELETE' method="POST"><button>X</button></form>
             
            </td>
    
        </div>
        <% }); %>
    </div>
    <a href="/songs/new">Add Song</a>
    </body>
    
    </html>