<%- include('../partials/header') %>

<div>
  <div>Only the songs in this <%= playlist.title %></div>
  <div>
    <% playlistSongs.forEach(function(songs) {%>
    <ul>
      <li>
        <%= songs.title %>
      </li>
    </ul>
    <% }); %>
  </div>
  <h1>All of the songs</h1>
  <div>

    <select>
      <% allSongs.forEach(function(s) {%>
      <option name="<%= s.title %>"><%= s.title%></option>
      <% }); %>
    </select>

  </div>

  <%- include('../partials/footer') %>